# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shared objects
*.so

# Distribution / packaging
lib/build/
*.egg-info/
*.egg

# Temporary files
*.swn
*.swo
*.swp

# Dataset symlinks
lib/datasets/data/*
!lib/datasets/data/README.md

# Generated C files
lib/utils/cython_*.c

#training output 
tmp/*
train/*

#pretrained models
pretrained_models/*

lib/core/.nfs00000000051e2c9900000596

log/*
cache/*
1
configs/12_2017_baselines/.nfs*
tools/.nfs*
.nfs*
lib/datasets/.nfs*
lib_rotateroi_crowd/*